<div class="row">
  <div class="medium-8 columns">
    <h1>Editing completion</h1>
      <%= render 'form' %>
      <%= link_to 'Delete', @completion, method: :delete %>
      <%= link_to 'Show', @completion %> |
      <%= link_to 'Back', completions_path %>
      <%= link_to 'Update', completions_path %>

  </div>
</div>