<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'College-Reaper' %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur2001nh%2C2a%3Do5-9a15lr"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key=Fmjtd%7Cluur2001nh%2C2a%3Do5-9a15lr"></script>
  </head>
  <body>
    <header class="row">
      <div class="medium-4 columns">
        <h1><a href="<%= user_signed_in? ? user_root_path : '/' %>">CollegeReaper</a></h1>
      </div>
      <div class="medium-8 columns">
        <% if user_signed_in? %>
        <span class="button right" data-dropdown="user-actions"><i class="fa fa-user"></i> <%= current_user.email %></span>
        <ul id="user-actions" class="f-dropdown" data-dropdown-content>
          <li><%= link_to '<i class="fa fa-calendar"></i> Start a new schedule'.html_safe, '/schedules/course_load', data: { no_turbolink: true } %></li>
          <li><%= link_to '<i class="fa fa-check-square-o"></i> Manage your courses'.html_safe, completions_path %></li>
          <li><%= link_to '<i class="fa fa-edit"></i> Edit your account'.html_safe, edit_user_registration_path %></li>
          <li><%= link_to '<i class="fa fa-sign-out"></i> Sign out'.html_safe, destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul class="right button-group">
          <li class="hide-for-small-only"><span class="button secondary disabled">Get started today!</span></li>
          <li><%= link_to 'Sign in', new_user_session_path, class: 'button' %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, class: 'button' %></li>
        </ul>
        <% end %>
      </div>
    </header>
    <hr />
    <div class="row">
      <div class="small-12 columns">
        <%= display_flash_messages() %>
      </div>
    </div>
    <%= yield %>
    <footer class="row">
      <div class="medium-12 columns">
        <hr/>
        <div class="row">
          <div class="medium-6 columns">
            <p>&copy; <%= Date.today.year %> SYN/ACK Group. All rights reserved.</p>
          </div>
          <div class="medium-6 columns">
            <ul class="inline-list right">
              <li><a href="/about">about</a></li>
              <li><a href="/terms">terms</a></li>
              <li><a href="/privacy">privacy</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>