<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'College-Reaper' %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur2001nh%2C2a%3Do5-9a15lr"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key=Fmjtd%7Cluur2001nh%2C2a%3Do5-9a15lr"></script>
  </head>

  <body>
    <header class="row">
      <div class="medium-3 columns">
        <h1><a href="<%= user_signed_in? ? user_root_path : '/' %>">CollegeReaper</a></h1>
      </div>
      <div class="medium-9 columns">
        <ul class="right button-group">
          <% if user_signed_in? %>
          <li><%= link_to current_user.email, edit_user_registration_path,
                          class: 'button secondary small disabled' %></li>
          <li><%= link_to 'Start your schedule!', '/schedules/course_load', class: 'button small', data: { no_turbolink: true }  %></li>
          <li><%= link_to 'Completed Courses', completions_path, class: 'button small' %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button small' %></li>
          <% else %>
          <li class="hide-for-small-only"><span class="button secondary disabled">Get started today!</span></li>
          <li><%= link_to 'Sign in', new_user_session_path, class: 'button' %></li>
          <li><%= link_to 'Sign up', new_user_registration_path, class: 'button' %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <hr />
    <div class="row">
      <div class="small-12 columns">
        <%= display_flash_messages() %>
      </div>
    </div>
    <%= yield %>
    <footer class="row">
      <div class="medium-12 columns">
        <hr/>
        <div class="row">
          <div class="medium-6 columns">
            <p>&copy; <%= Date.today.year %> SYN/ACK Group. All rights reserved.</p>
          </div>
          <div class="medium-6 columns">
            <ul class="inline-list right">
              <li><a href="/about">about</a></li>
              <li><a href="/terms">terms</a></li>
              <li><a href="/privacy">privacy</a></li>
              <li><a href="/contact">contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>